body, p, h1, h2, h3, h4, h5, h6{
    margin: 0px;
    padding: 0px;
}

ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration:none;
}

a:hover, a:focus{
    text-decoration:none;
    outline: none;
}

body {
    margin : 0;
    padding: 0;
    display: flex;
    height: auto;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FFB7D9;
}

.app-title {
    text-align: center;
    display: inline-flex;
    font-size: 26pt;
    color: #707070;
    margin-top: 36px; 
}

.todo {
    min-width: 400px;
    min-height: 600px;
    border-radius: 16px;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.16);
}

.todo-container {
    margin-left: 39px;
    padding-top: 56px;
}

.todo-smalltext {
    font-weight: 400;
    font-size: 10pt;
    color: #707070;
}

.todo-datetime {
    display: inline-block;
    font-weight: 400;
    font-size: 20pt;
    margin-bottom: 12px; 
    color: #333333;
}

.todo-sumtask {
    font-weight: 400;
    font-size: 12pt;
    color: #333333;
}